<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Blue Verve | {{ page.title }}</title>
  <meta name="description" content="Blue Verve is an online software and app development service company. We provide design, development and research services for startups, entrepreneurs and small teams.">
  <meta name="author" content="Blue Verve | Rami James">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/base.css">
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/blueverve.css">
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/layout.css">
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/github.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43828354-3', 'blueverve.com');
    ga('send', 'pageview');

  </script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon.ico">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}images/apple-touch-icon-114x114.png">

</head>



  







