---
layout: approach
title: Our Approach
sitemap:
    priority: 1
    changefreq: monthly
    lastmod: 2013-10-17T12:00:00-05:00
---

{% include head.html %}

<header>
  <nav>
    <a href="/" class="mainlogo home"><span>Blueverve</span></a>
    <ul>
      <li><a href="/"><span>Home</span></a></li>
      <li><a href="/approach/" class="selected"><span>Our Approach</span></a></li>
      <li><a href="/process/"><span>Process</span></a></li>
      <li><a href="/portfolio/"><span>Portfolio</span></a></li>
      <li><a href="/team/"><span>Team</span></a></li>
      <li><a href="/blog/"><span>Blog</span></a></li>
      <li class="contact"><a href="/contact/"><span>Contact Us</span></a></li>
    </ul>
  </nav>
</header>

<div class="innersuperband ourvision">
    <div class="container">

      <div class="sixteen columns sellband">
        <h1 class="green">Our Approach</h1>
        <h2>Our job is to help ensure that you fulfill your product’s promise. <span class="blue">We are your team</span>.</h2>
      </div>

    </div>
  </div>

  <div class="innerband">
    <div class="container">
      
      <div class="row">
        <div class="one-third column">
          <h1>Stay in control with the right tools</h1>
          <p>Staying connected and staying focused is what drives a project forward.  We help you hone in on what’s important, from the very start. We work to be proactive, not merely reactive. We do this through the use of simple tools like Skype, JIRA, Basecamp, and our own custom tools that manage transparent conversations and enable timely transfer of mission-critical data.</p>
        </div>

        <div class="two-thirds column">
          <div class="approach1box"></div>
        </div>
      </div>

      <hr class="line">

      <div class="row">
        <div class="one-third column">
          <h1>Achieve optimal flexibility through tight project management.</h1>
          <p>Our job is to help you ship fast, ship often and ship smartly.  This means that our development process needs to be able to withstand changes from an often turbulent external environment.  How do we do this? We practice Agile development so that every step of our development process is broken down into small chunks. You get to keep your finger on the pulse and as the needs of your project change, we change right along with you. Without missing a beat.</p>
        </div>
        
        <div class="two-thirds column">
          <div class="approach2box"></div>
        </div>
      </div>

      <hr class="line">

      <div class="row">
        <div class="one-third column">
          <h1>Smartly manage risk by working in close collaboration.</h1>
          <p>The crux of managing risk correctly is to work closely together.  Working together enables us to know what you want and to deliver it to you fast. We start every day by reviewing what we’ve done the day before, where we’re at in terms of the bigger picture and pinpointing places where we need to focus our resources to quickly take down any obstacles that may get in the way.  We include you in this process so that your team reaps the benefit from learning from all we do. </p>
        </div>

        <div class="two-thirds column">
          <div class="approach3box"></div>
        </div>
      </div>
      
    </div>
  </div>

  {% include learnmore.html %}

{% include footer.html %}