---
layout: contact
---

{% include head.html %}

<header>
  <nav>
    <a href="/" class="mainlogo home"><span>Blueverve</span></a>
    <ul>
      <li><a href="/"><span>Home</span></a></li>
      <li><a href="/approach/"><span>Our Approach</span></a></li>
      <li><a href="/process/"><span>Process</span></a></li>
      <li><a href="/portfolio/"><span>Portfolio</span></a></li>
      <li><a href="/team/"><span>Team</span></a></li>
      <li><a href="/blog/"><span>Blog</span></a></li>
      <li class="contact"><a href="/contact/"><span>Contact Us</span></a></li>
    </ul>
  </nav>
</header>

<!-- Primary Page Layout
  ================================================== -->

  <div class="innersuperband ourvision">
    <div class="container">

      <div class="sixteen columns sellband">
        <h1 class="green">Contact</h1>
        <h2>Be in touch! We’d love to listen to your idea, check out your app-in-distress, learn about your projects that have gone astray or just talk shop. <span class="blue">Say Hello.</span></h2>
      </div>

    </div>
  </div>

  <div class="innerband">
    <div class="container">
      
      <div class="ten columns alpha">
        <div id="wufoo-z7x4m1" style="border:0px;">
        It seems that you have Javascript disabled. Please contact us via our <a href="http://uboodu.wufoo.com/forms/z7x4m1">online form</a>.
        </div>
        <script type="text/javascript">var z7x4m1;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'uboodu', 
          'formHash':'z7x4m1', 
          'autoResize':true,
          'height':'417',
          'async':true,
          'header':'show'};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
        </script>
      </div>
      <div class="five columns offset-by-one omega">
        <h3>Email Us Directly</h3>
        <p><a href="mailto:info@blueverve.com" class="openme">info@blueverve.com</a></p>
        
        <h3>Phone</h3>
        <p>1-917-4442244</p>
        
        <h3>Skype</h3>
        <p>blueverve</p>

        <h3>Mailing Address</h3>
        <p>Blue Verve Inc.<br>
        2174 Route 106<br>
        Syosset, NY 11791</p>
      </div>



    </div>
  </div>

{% include footer.html %}