---
layout: home
title: Home
sitemap:
    priority: 1
    changefreq: monthly
    lastmod: 2013-10-17T12:00:00-05:00
---

{% include head.html %}

<header>
  <nav>
    <a href="/" class="mainlogo home"><span>Blueverve</span></a>
    <ul>
      <li><a href="/" class="selected"><span>Home</span></a></li>
      <li><a href="/approach/"><span>Our Approach</span></a></li>
      <li><a href="/process/"><span>Process</span></a></li>
      <li><a href="/portfolio/"><span>Portfolio</span></a></li>
      <li><a href="/team/"><span>Team</span></a></li>
      <li><a href="/blog/"><span>Blog</span></a></li>
      <li class="contact"><a href="/contact/"><span>Contact Us</span></a></li>
    </ul>
  </nav>
</header>

  <!-- Primary Page Layout
  ================================================== -->

  <div class="superband">
    <div class="container">

      <div class="sixteen columns sellband">
        <h1 class="green">Blueverve builds mobile and web apps for small companies with big ideas.</h1>
        <h2>We believe that what turns a great idea into a successful product is an expert team led by passionate people. <span class="blue">We are that team. Our clients are those people.</span></h2>
        <!--a class="mainhello" href="contact">Let us be your Team</a-->
      </div>

    </div>
  </div>

  <!--div class="whiteband">
    <div class="container">
      <div class="one-third column">
        <a class="discoverbox"></a>
        <h2>Discovery</h2>
        <p class="leftalign">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel tellus dui. Cras volutpat a quam id condimentum. Sed posuere facilisis tellus, rhoncus vehicula odio porttitor non. Integer sit amet hendrerit diam. Donec at orci sem. Donec mattis turpis urna. Cras ut sapien euismod, vestibulum metus non, dictum diam. Ut eget ipsum eget justo sagittis congue non eu dolor. Duis non interdum turpis.</p>
      </div>
      <div class="one-third column">
        <a class="definebox"></a>
        <h2>Definition</h2>
        <p class="leftalign">Nunc ullamcorper lorem orci, non malesuada lorem rutrum id. Integer et nisi tincidunt, porttitor dui bibendum, placerat neque. Pellentesque ac velit eget quam ullamcorper aliquet vel a libero. Sed vel risus egestas est posuere consectetur. Sed elementum dictum lorem. Maecenas at vestibulum purus. Fusce nec tortor sollicitudin, tincidunt urna sed, bibendum tellus. Vivamus at lacus a lectus aliquam porta.</p>
      </div>
      <div class="one-third column">
        <a class="deliverbox"></a>
        <h2>Deliverables</h2>
        <p class="leftalign">Duis dignissim vitae felis a viverra. Nunc congue orci ac diam tristique adipiscing. Nullam egestas, nulla sit amet tempus posuere, mauris lorem fermentum sapien, id auctor nunc arcu ultrices purus. Maecenas sed ipsum risus. Phasellus varius augue massa, vitae elementum nibh pharetra sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam congue nisi eu odio posuere pretium. </p>
      </div>
    </div>
  </div-->

  <div class="blueband">
    <div class="container">

      
      <div class="four columns">
        <a class="projectbox tabtale" href="/portfolio/tabtale/">
          <div class="caption">Tabtale Website</div>
        </a>
      </div>
      <div class="four columns">
        <a class="projectbox takes" href="/portfolio/takes/">
          <div class="caption">Takes</div>
        </a>
      </div>
      <div class="eight columns">
        <a class="projectbox thomsonreuters" href="/portfolio/streams/">
          <div class="caption">Thomson Reuters</div>
        </a>
      </div>
      <div class="eight columns">
        <a class="projectbox climbingmonster" href="/portfolio/climbingmonster/">
          <div class="caption">Climbing Monster</div>
        </a>
      </div>
      <div class="eight columns">
        <a class="projectbox uskape" href="/portfolio/uskape/">
          <div class="caption">USkape</div>
        </a>
      </div>

      <hr>
      
      <div class="sixteen columns">
        <h3>Our team of developers and designers have <a href="/team/">decades of combined experience</a> launching awesome web and mobile apps. We make our clients happy by creating products their users love. </h3>
      </div>

    </div><!-- container -->
  </div>

  {% include learnmore.html %}

{% include footer.html %}