---
layout: process
title: Blue Verve | Process
sitemap:
    priority: 1
    changefreq: monthly
    lastmod: 2013-10-17T12:00:00-05:00
---

{% include head.html %}

<header>
  <nav>
    <a href="/" class="mainlogo home"><span>Blueverve</span></a>
    <ul>
      <li><a href="/"><span>Home</span></a></li>
      <li><a href="/approach/"><span>Our Approach</span></a></li>
      <li><a href="/process/" class="selected"><span>Process</span></a></li>
      <li><a href="/portfolio/"><span>Portfolio</span></a></li>
      <li><a href="/team/"><span>Team</span></a></li>
      <li><a href="/blog/"><span>Blog</span></a></li>
      <li class="contact"><a href="/contact/"><span>Contact Us</span></a></li>
    </ul>
  </nav>
</header>

<!-- Primary Page Layout
  ================================================== -->

  <div class="innersuperband services">
    <div class="container">

      <div class="sixteen columns sellband">
        <h1 class="green">Process</h1>
        <h2>Blue Verve provides a full range of development, design and marketing services which work together to <span class="blue">make your product a success</span>.</h2>
      </div>

    </div>
  </div>

  <div class="innerband">
    <div class="container">

      <div class="four columns">
        <h2 class="discover">Discovery</h2>
        <p>During this research phase Stakeholder Interviews will help define the personas and key user scenarios which are relevant to the project.</p>
      </div>

      <div class="four columns">
        <h2 class="concept">Concept</h2>
        <p>Based on the understanding from the discovery phase, we create the storyboards to better understand the user flows and quick concept sketchbooks which can be validated with internal stakeholders.</p>
      </div>

      <div class="four columns">
        <h2 class="prototype">Prototype</h2>
        <p>We iterate on the design via the sketchbooks and start defining the visual signature based on branding and KPI requirements; further create a HTML clickthrough prototype which can be used for usability testing and design definition for development teams.</p>
      </div>

      <div class="four columns">
        <h2 class="build">Build</h2>
        <p>Working closely with the development team build the proposition and continue validation with end-users and stakeholders focused to gain deeper understanding on the gaps and needs.</p>
      </div>

      <hr class="line">

      <div class="eight columns">
        <h1 class="discovertext">Strategize</h1>
        <p>To us, thinking together is synonymous to working together. We start by learning all about you as people and all about the product you’re bringing to the world.  We’ll leverage our previous experience in helping great companies to help you challenge your ideas, stretch your limits to ensure that you continually exceed your own expectations. </p>
      </div>

      <div class="eight columns">
        <h1 class="concepttext">Design</h1>
        <p>When a product works well, it’s a beautiful thing (inside and out). The way we focus on branding, user experience and visual design is always based on three core tenets: functionality, aesthetics, and scalability. Our designers work together with our developers every single step of the way.  This synchronization is fueled by a user-centric approach. We use modern techniques such as Key User Scenarios, Prototyping, and Storyboards to establish the correct User Flow. This process ensures that your user successfully complete the tasks you set out for them. </p>
      </div>
      
      <hr>

      <div class="eight columns">
        <h1 class="buildtext">Develop</h1>
        <p>When it comes to our development team we skip over the modesty part.  Our developers are incredible professionals. All are experts in their respective fields (iOS, android, Titanium, Ruby on Rails, HTML5, Node.js, Angular.js) and share a distinct passion for building brilliantly simple solutions to the most complex problems.  Being really good at what we do means that we can actually communicate it to both technical and non-technical folk.  That means you’re always on top of with what we’ve done, what we’re doing and what we’re up against.  </p>
      </div>

      <div class="eight columns">
        <h1 class="prototypetext">Measure</h1>
        <p>As we see it, a company simply starts with a first product release. Growth is an ongoing pursuit. We help you by building integrated systems to constantly collect and interpret your user feedback and behavior. We work with you to develop solutions that meet the real user problems you’ll be up against.  We manage this data to help you learn how to best prioritize new or improved functionality in subsequent releases. We do this over and over again with you as you go from your first product launch to a place of stable and consistent growth. </p>
      </div>
      
      <hr>

    </div>
  </div>

  {% include learnmore.html %}

{% include footer.html %}