---
layout: team
title: Blue Verve | Team
sitemap:
    priority: 1
    changefreq: monthly
    lastmod: 2013-10-17T12:00:00-05:00
---

{% include head.html %}

<header>
  <nav>
    <a href="/" class="mainlogo home"><span>Blueverve</span></a>
    <ul>
      <li><a href="/"><span>Home</span></a></li>
      <li><a href="/approach/"><span>Our Approach</span></a></li>
      <li><a href="/process/"><span>Process</span></a></li>
      <li><a href="/portfolio/"><span>Portfolio</span></a></li>
      <li><a href="/team/" class="selected"><span>Team</span></a></li>
      <li><a href="/blog/"><span>Blog</span></a></li>
      <li class="contact"><a href="/contact/"><span>Contact Us</span></a></li>
    </ul>
  </nav>
</header>

<div class="innersuperband customers">
  <div class="container">

    <div class="sixteen columns sellband">
      <h1 class="green">Team</h1>
      <h2>Blueverve is a tight-knit group of developers, designers, marketers and technologists.  We’re passionate about helping companies turn great ideas into products people love.</h2>
    </div>

  </div>
</div>

<div class="innerband">
  <div class="container">

      <div class="one-third column">
        <a class="sunnybox"></a>
        <h2>Sunny Gambhir</h2>
        <p class="leftalign">With 15+ years of experience, Sunny is a passionate UX designer and technology leader.  Sunny specializes in creating engaging, effective and elegant interactive experiences across multiple platforms, using the right mix of technologies. By sharpening and coordinating visions and strategies across markets and devices, he excels at partnering with customers and product teams to create breakthrough product innovations.</p>
      </div>
      <div class="one-third column">
        <a class="ramibox"></a>
        <h2>Rami James</h2>
        <p class="leftalign">With 13+ years of experience, Rami is a world-class visual designer. He is a master at finding highly usable, fun solutions to complex problems, using his unique eye and sense of balance to create elegant designs. When he isn’t at his computer, Rami enjoys difficult rock-climbing challenges and traveling to far-off lands in search of adventure.</p>
      </div>
      <div class="one-third column">
        <a class="vovabox"></a>
        <h2>Vova Nurenberg</h2>
        <p class="leftalign">Vova is a designer who focuses on Web and UI. He is a fountain of fresh ideas with a critical eye and discerning taste. Vova's artistic flavor and skills contribute to making a strong, clean and tasteful design experience. He is driven by his ever-growing passion for learning and new technologies. Outside the office Vova keeps himself busy with rock climbing, sailing and visiting remote mountain ranges around the world.</p>
      </div>

  </div>
</div>

{% include learnmore.html %}

{% include footer.html %}